.row {
    padding: 10px;
    text-align: center;
}

.pending {
    background-color: #dcb979;
    color: black;
}

.processing {
    background-color: var(--status-processing);
    color: white;
}

.complete {
    background-color: var(--status-complete);
    color: white;
}

.canceled {
    background-color: var(--status-canceled);
    color: white;
}

.form-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.table-name {
    text-align: center;
    background-color: var(--main-bg-color);
    color: white;
    padding: 10px;
    margin-bottom: 10px;
}
