.menu-header {
    background-color: var(--main-bg-color);
    padding: 10px;
    margin-bottom: 20px;
}

.form-control {
    color: white;
}

.selector {
    min-width: 120px;
    color: white;
    border-bottom: 1px solid white;
}

.button > span {
    color: white;
}
