.stepper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.popular {
    text-align: center;
    background-color: var(--main-bg-color);
    color: white;
    padding: 10px;
    width: 100%;
}

.video {
    width: 100%;
    padding: 20px 0;
}
