.header {
    display: flex;
    justify-content: space-between;
}

.searchBar {
    display: flex;
}

.logo {
    text-decoration: none;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: black;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.button-list {
    display: flex;
}
